body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
header {
  text-align: center;
}
h1 {
  font-weight: 200;
}
span {
  font-weight: 600;
}

.cards {
  display: flex;
  text-align: center;
  margin: 80px;
}

.Supervisor,
.Team,
.Karma,
.Calc {
  border: 1px solid skyblue;
  border-radius: 6px;
  margin: 15px 30px;
  padding: 20px;
}
img {
  float: right;
}
.card-stack {
  display: flex;
  flex-direction: column;
}
