header {
  text-align: center;
}

.cards {
  display: flex;
  text-align: center;
  margin: 80px;
}
.Supervisor,
.Team,
.Karma,
.Calc {
  border: 1px solid skyblue;
  border-radius: 6px;
  margin: 15px 30px;
  padding: 20px;
}
img {
  float: right;
}
.card-stack {
  display: flex;
  flex-direction: column;
}
